#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.dashboard-container{
  display: flex;
  flex-direction: row;
  border: 1px black solid;
  justify-content: center;
  margin: 20px;
}

.container-elements{
  margin: 50px;
}

.header-container{
  border: 1px black solid;
  margin: 20px;
  display: flex;
  flex-direction: row;
}

.react-select-container{
  color:red;
  background: red;
}
.header-slot{
  margin: 20px;
}